.header__item {
  margin-right: 40px;
}

@media screen and (max-width: 550px) {
  .header__item {
    margin-right: 17px;
  }
}

@media screen and (max-width: 425px) {
  .header__item {
    margin-bottom: 15px;
  }
}

.header__item:last-child {
  margin: 0;
}
