.intro__title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  max-width: 600px;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 28px;
    line-height: 40px;
    max-width: 450px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 20px;
    line-height: 28px;
  }
}
