.intro__title {
  margin: 0;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 28px;
    line-height: 40px;
    max-width: 450px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 20px;
    line-height: 28px;
  }
}
